.graph-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .toolBar {
    position: absolute;
    top: 10px;
    left: 30%;
    z-index: 2;
    height: 40px;
    width: auto;
    margin: 0 auto;
    padding: 4px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px rgba(191,200,209,1);
  }
  
  .toolBar button {
    margin: 0 5px;
  }
  
  /* iconFont Begin */
  @font-face {
    font-family: "graph-tool-iconfont";  /* project id 211905 */
    src: url('//at.alicdn.com/t/font_1u0u9rv04io7ds4i.eot');
    src: url('//at.alicdn.com/t/font_1u0u9rv04io7ds4i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1u0u9rv04io7ds4i.woff') format('woff'),
    url('//at.alicdn.com/t/font_1u0u9rv04io7ds4i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1u0u9rv04io7ds4i.svg#iconfont') format('svg');
  }
  
  .graph-tool-iconfont {
    font-family:"graph-tool-iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ::before, ::after {
    box-sizing: border-box;
  }
  .graph-tool-iconfont .anticon::before{
    font-family:"graph-tool-iconfont" !important;
  }
  .icon-square::before {
    content: "\E6DA";
  }
  .icon-rhombus::before {
    content: "\E6F3";
    font-size: larger;
  }
  .icon-move::before {
    content: "\E6E0";
  }
  .icon-arrow::before {
    content: "\E6E4";
  }
  
  .rot180{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
 